body{
  margin: 0;
  padding: 0;
  background-image: url('/assets/img/backPixel.avif');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
#counter{
  background-color: rgba(164, 148, 94, 0.9);
  padding: 15px 20px 15px  20px;
  border-radius: 5px;
  position: absolute;
  text-transform: uppercase;
  left: 65px;
  top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  h2 {
    margin: 0;
  }
  p{
    font-size: 20px;
    margin: 0;
  }
  
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #questionBox {
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 800px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(164, 148, 94, 0.9);
    img {
      width: 600px;
      height: auto;
    }
    #form {
      margin-top: 10px;
      background-color: antiquewhite;
      padding: 10px 30px 10px 30px;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }

  }
}

#game-board {
  position: relative;
  height: 100%;
  width: 800px;
  background-color: rgba(164, 148, 94, 0.8);
  overflow: hidden;
}

#game-over {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(216, 119, 34);
  font-size: 45px;
  display: none;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
    font-family: Arial, sans-serif;
  }
  #play-again {
    font-size: 35px;
    background-color: #3fdde2;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
  }
  #play-again:hover{
    cursor: pointer;
  }
}
#name-form{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #47b44b;
  padding: 20px;
  border-radius: 3px;
  font-size: 20px;
  font-family: monospace;
  color: white;
}
#start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: 50px;
  background-color: #47b44b;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;

  font-family: monospace;
}
